$red: #CC0000;
$white: #ffffff;
$border-red: #950000;
$modal-bg:rgba(0, 0, 0, 0.8);
$ash: #e5e5e5;
$lighter-ash: #d8d8d8;
$black: #000;
$border-ash: rgba(255, 255, 255, 0.2);
$box-shadow: rgba(0, 0, 0, 0.13);